<div class="topSpacing">
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="leftBar">
              <div class="logo">NotCraigsList</div>
              <div class="menuItem">
                <div class="menuHighlight"><a href="#">post to classifieds</a></div>
              </div>
              <div class="menuItem">
                  <a href="#login">my account</a>
              </div>
              <div class="menuItem menuItemMarginTop">
                  search notcraigslist
                  <input (keyup)="onKey($event)">
              </div>
              <div class="menuItem menuItemMarginTop">
                <a href="#calendar">event calendar</a>
            </div>
              <div class="menuItem menuItemMarginTop">
                  <a href="#">help, faq, abuse, legal</a>
              </div>
              <div class="menuItem">
                  <a href="#">personal safety tips</a>
              </div>
              <div class="menuItem">
                  <a href="#">terms of use</a>
              </div>
              <div class="menuItem">
                  <a href="#">privacy policy</a>
              </div>
              <div class="menuItem">
                  <a href="#">system status</a>
              </div>
              <div class="menuItem menuItemMarginTop">
                  <a href="#">about notcraigslist</a>
              </div>
              <div class="menuItem">
                  <a href="#">notcraigslist open source</a>
              </div>
              <div class="menuItem">
                  <a href="#">notcraigslist blog</a>
              </div>
              <div class="menuItem">
                  <a href="#">notcraigslist blog</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7">
      <div class="container-fluid centerPiece">
        <div class="row">
          <div class="col-12">
            <div class="cityTitleBar">
              <div class="titleText">Vancouver, BC
                <div class="nearByCityTitle"><a href="#">van</a></div>
                <div class="nearByCityTitle"><a href="#">nvn</a></div>
                <div class="nearByCityTitle"><a href="#">bnc</a></div>
                <div class="nearByCityTitle"><a href="#">rds</a></div>
                <div class="nearByCityTitle"><a href="#">pml</a></div>
                <div class="nearByCityTitle"><a href="#">rch</a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="centerBox">
              <div class="centerBoxTop">
                <a href="#">community</a>
              </div>
              <div class="container-fluid noPaddingMargin">
                <div class="row noPaddingMargin">
                  <div class="col-6">
                    <div class="boxItem"><a href="#">activities</a></div>
                    <div class="boxItem"><a href="#">artist</a></div>
                    <div class="boxItem"><a href="#">childcare</a></div>
                    <div class="boxItem"><a href="#">classes</a></div>
                    <div class="boxItem"><a href="#">events</a></div>
                    <div class="boxItem"><a href="#">general</a></div>
                    <div class="boxItem"><a href="#">groups</a></div>
                  </div>
                  <div class="col-6">
                    <div class="boxItem"><a href="#">news</a></div>
                    <div class="boxItem"><a href="#">lost+found</a></div>
                    <div class="boxItem"><a href="#">musicians</a></div>
                    <div class="boxItem"><a href="#">pets</a></div>
                    <div class="boxItem"><a href="#">politics</a></div> 
                    <div class="boxItem"><a href="#">rideshare</a></div> 
                    <div class="boxItem"><a href="#">volunteers</a></div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="centerBox">
                <div class="centerBoxTop">
                  <a href="#">community</a>
                </div>
                <div class="container-fluid noPaddingMargin">
                  <div class="row noPaddingMargin">
                    <div class="col-6">
                      <div class="boxItem"><a href="#">activities</a></div>
                      <div class="boxItem"><a href="#">artist</a></div>
                      <div class="boxItem"><a href="#">childcare</a></div>
                      <div class="boxItem"><a href="#">classes</a></div>
                      <div class="boxItem"><a href="#">events</a></div>
                      <div class="boxItem"><a href="#">general</a></div>
                      <div class="boxItem"><a href="#">groups</a></div>
                    </div>
                    <div class="col-6">
                      <div class="boxItem"><a href="#">news</a></div>
                      <div class="boxItem"><a href="#">lost+found</a></div>
                      <div class="boxItem"><a href="#">musicians</a></div>
                      <div class="boxItem"><a href="#">pets</a></div>
                      <div class="boxItem"><a href="#">politics</a></div> 
                      <div class="boxItem"><a href="#">rideshare</a></div> 
                      <div class="boxItem"><a href="#">volunteers</a></div> 
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-4">
            <div class="centerBox">
                <div class="centerBoxTop">
                  <a href="#">community</a>
                </div>
                <div class="container-fluid noPaddingMargin">
                  <div class="row noPaddingMargin">
                    <div class="col-6">
                      <div class="boxItem"><a href="#">activities</a></div>
                      <div class="boxItem"><a href="#">artist</a></div>
                      <div class="boxItem"><a href="#">childcare</a></div>
                      <div class="boxItem"><a href="#">classes</a></div>
                      <div class="boxItem"><a href="#">events</a></div>
                      <div class="boxItem"><a href="#">general</a></div>
                      <div class="boxItem"><a href="#">groups</a></div>
                    </div>
                    <div class="col-6">
                      <div class="boxItem"><a href="#">news</a></div>
                      <div class="boxItem"><a href="#">lost+found</a></div>
                      <div class="boxItem"><a href="#">musicians</a></div>
                      <div class="boxItem"><a href="#">pets</a></div>
                      <div class="boxItem"><a href="#">politics</a></div> 
                      <div class="boxItem"><a href="#">rideshare</a></div> 
                      <div class="boxItem"><a href="#">volunteers</a></div> 
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-4">
              <div class="centerBox">
                <div class="centerBoxTop">
                  <a href="#">community</a>
                </div>
                <div class="container-fluid noPaddingMargin">
                  <div class="row noPaddingMargin">
                    <div class="col-6">
                      <div class="boxItem"><a href="#">activities</a></div>
                      <div class="boxItem"><a href="#">artist</a></div>
                      <div class="boxItem"><a href="#">childcare</a></div>
                      <div class="boxItem"><a href="#">classes</a></div>
                      <div class="boxItem"><a href="#">events</a></div>
                      <div class="boxItem"><a href="#">general</a></div>
                      <div class="boxItem"><a href="#">groups</a></div>
                    </div>
                    <div class="col-6">
                      <div class="boxItem"><a href="#">news</a></div>
                      <div class="boxItem"><a href="#">lost+found</a></div>
                      <div class="boxItem"><a href="#">musicians</a></div>
                      <div class="boxItem"><a href="#">pets</a></div>
                      <div class="boxItem"><a href="#">politics</a></div> 
                      <div class="boxItem"><a href="#">rideshare</a></div> 
                      <div class="boxItem"><a href="#">volunteers</a></div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="centerBox">
                  <div class="centerBoxTop">
                    <a href="#">community</a>
                  </div>
                  <div class="container-fluid noPaddingMargin">
                    <div class="row noPaddingMargin">
                      <div class="col-6">
                        <div class="boxItem"><a href="#">activities</a></div>
                        <div class="boxItem"><a href="#">artist</a></div>
                        <div class="boxItem"><a href="#">childcare</a></div>
                        <div class="boxItem"><a href="#">classes</a></div>
                        <div class="boxItem"><a href="#">events</a></div>
                        <div class="boxItem"><a href="#">general</a></div>
                        <div class="boxItem"><a href="#">groups</a></div>
                      </div>
                      <div class="col-6">
                        <div class="boxItem"><a href="#">news</a></div>
                        <div class="boxItem"><a href="#">lost+found</a></div>
                        <div class="boxItem"><a href="#">musicians</a></div>
                        <div class="boxItem"><a href="#">pets</a></div>
                        <div class="boxItem"><a href="#">politics</a></div> 
                        <div class="boxItem"><a href="#">rideshare</a></div> 
                        <div class="boxItem"><a href="#">volunteers</a></div> 
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-4">
              <div class="centerBox">
                  <div class="centerBoxTop">
                    <a href="#">community</a>
                  </div>
                  <div class="container-fluid noPaddingMargin">
                    <div class="row noPaddingMargin">
                      <div class="col-6">
                        <div class="boxItem"><a href="#">activities</a></div>
                        <div class="boxItem"><a href="#">artist</a></div>
                        <div class="boxItem"><a href="#">childcare</a></div>
                        <div class="boxItem"><a href="#">classes</a></div>
                        <div class="boxItem"><a href="#">events</a></div>
                        <div class="boxItem"><a href="#">general</a></div>
                        <div class="boxItem"><a href="#">groups</a></div>
                      </div>
                      <div class="col-6">
                        <div class="boxItem"><a href="#">news</a></div>
                        <div class="boxItem"><a href="#">lost+found</a></div>
                        <div class="boxItem"><a href="#">musicians</a></div>
                        <div class="boxItem"><a href="#">pets</a></div>
                        <div class="boxItem"><a href="#">politics</a></div> 
                        <div class="boxItem"><a href="#">rideshare</a></div> 
                        <div class="boxItem"><a href="#">volunteers</a></div> 
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <div class="row">
              <div class="col-4">
                <div class="centerBox">
                  <div class="centerBoxTop">
                    <a href="#">community</a>
                  </div>
                  <div class="container-fluid noPaddingMargin">
                    <div class="row noPaddingMargin">
                      <div class="col-6">
                        <div class="boxItem"><a href="#">activities</a></div>
                        <div class="boxItem"><a href="#">artist</a></div>
                        <div class="boxItem"><a href="#">childcare</a></div>
                        <div class="boxItem"><a href="#">classes</a></div>
                        <div class="boxItem"><a href="#">events</a></div>
                        <div class="boxItem"><a href="#">general</a></div>
                        <div class="boxItem"><a href="#">groups</a></div>
                      </div>
                      <div class="col-6">
                        <div class="boxItem"><a href="#">news</a></div>
                        <div class="boxItem"><a href="#">lost+found</a></div>
                        <div class="boxItem"><a href="#">musicians</a></div>
                        <div class="boxItem"><a href="#">pets</a></div>
                        <div class="boxItem"><a href="#">politics</a></div> 
                        <div class="boxItem"><a href="#">rideshare</a></div> 
                        <div class="boxItem"><a href="#">volunteers</a></div> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="centerBox">
                    <div class="centerBoxTop">
                      <a href="#">community</a>
                    </div>
                    <div class="container-fluid noPaddingMargin">
                      <div class="row noPaddingMargin">
                        <div class="col-6">
                          <div class="boxItem"><a href="#">activities</a></div>
                          <div class="boxItem"><a href="#">artist</a></div>
                          <div class="boxItem"><a href="#">childcare</a></div>
                          <div class="boxItem"><a href="#">classes</a></div>
                          <div class="boxItem"><a href="#">events</a></div>
                          <div class="boxItem"><a href="#">general</a></div>
                          <div class="boxItem"><a href="#">groups</a></div>
                        </div>
                        <div class="col-6">
                          <div class="boxItem"><a href="#">news</a></div>
                          <div class="boxItem"><a href="#">lost+found</a></div>
                          <div class="boxItem"><a href="#">musicians</a></div>
                          <div class="boxItem"><a href="#">pets</a></div>
                          <div class="boxItem"><a href="#">politics</a></div> 
                          <div class="boxItem"><a href="#">rideshare</a></div> 
                          <div class="boxItem"><a href="#">volunteers</a></div> 
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-4">
                <div class="centerBox">
                    <div class="centerBoxTop">
                      <a href="#">community</a>
                    </div>
                    <div class="container-fluid noPaddingMargin">
                      <div class="row noPaddingMargin">
                        <div class="col-6">
                          <div class="boxItem"><a href="#">activities</a></div>
                          <div class="boxItem"><a href="#">artist</a></div>
                          <div class="boxItem"><a href="#">childcare</a></div>
                          <div class="boxItem"><a href="#">classes</a></div>
                          <div class="boxItem"><a href="#">events</a></div>
                          <div class="boxItem"><a href="#">general</a></div>
                          <div class="boxItem"><a href="#">groups</a></div>
                        </div>
                        <div class="col-6">
                          <div class="boxItem"><a href="#">news</a></div>
                          <div class="boxItem"><a href="#">lost+found</a></div>
                          <div class="boxItem"><a href="#">musicians</a></div>
                          <div class="boxItem"><a href="#">pets</a></div>
                          <div class="boxItem"><a href="#">politics</a></div> 
                          <div class="boxItem"><a href="#">rideshare</a></div> 
                          <div class="boxItem"><a href="#">volunteers</a></div> 
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
      </div>
    </div>

    <div class="col-2">
      <div class="rightMenu">
          <div class="languageDropdown">
              <select>
                  <option value="english">English</option>
              </select>                             
          </div>
          <div class="menuHighlightWhite">
            <a href="#">nearby cl</a>
          </div>
          <div class="menuItem">
            <a href="#">bellingham</a>
          </div>
          <div class="menuItem">
              <a href="#">bend</a>
          </div>
          <div class="menuItem">
              <a href="#">cariboo</a>
          </div>
          <div class="menuItem">
              <a href="#">comox valley</a>
          </div>
          <div class="menuItem">
              <a href="#">corvallis</a>
          </div>
          <div class="menuItem">
              <a href="#">east oregon</a>
          </div>
          <div class="menuItem">
              <a href="#">eugene</a>
          </div>
          <div class="menuItem">
              <a href="#">fraser valley</a>
          </div>
          <div class="menuItem">
              <a href="#">kalispell</a>
          </div>
      </div>
    </div>
  </div>
</div>