<div class="topSpacing">
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="leftBar">
              <div class="logo">NotCraigsList</div>
              <div class="menuItem">
                <div class="menuHighlight"><a href="#">post to classifieds</a></div>
              </div>
              <div class="menuItem">
                  <a href="#login">my account</a>
              </div>
              <div class="menuItem menuItemMarginTop">
                  search notcraigslist
                  <input (keyup)="onKey($event)">
              </div>
              <div class="menuItem menuItemMarginTop">
                  <a href="#">help, faq, abuse, legal</a>
              </div>
              <div class="menuItem">
                  <a href="#">personal safety tips</a>
              </div>
              <div class="menuItem">
                  <a href="#">terms of use</a>
              </div>
              <div class="menuItem">
                  <a href="#">privacy policy</a>
              </div>
              <div class="menuItem">
                  <a href="#">system status</a>
              </div>
              <div class="menuItem menuItemMarginTop">
                  <a href="#">about notcraigslist</a>
              </div>
              <div class="menuItem">
                  <a href="#">notcraigslist open source</a>
              </div>
              <div class="menuItem">
                  <a href="#">notcraigslist blog</a>
              </div>
              <div class="menuItem">
                  <a href="#">notcraigslist blog</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7">
      <div class="container-fluid centerPiece">
        <div class="row">
          <div class="col-12">
            <div class="cityTitleBar">
              <div class="titleText">Vancouver, BC
                <div class="nearByCityTitle"><a href="#">van</a></div>
                <div class="nearByCityTitle"><a href="#">nvn</a></div>
                <div class="nearByCityTitle"><a href="#">bnc</a></div>
                <div class="nearByCityTitle"><a href="#">rds</a></div>
                <div class="nearByCityTitle"><a href="#">pml</a></div>
                <div class="nearByCityTitle"><a href="#">rch</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="centerBox">
              <div class="centerBoxTop">
                <a href="#">community</a>
              </div>
              <div class="container-fluid noPaddingMargin">
                <div class="row noPaddingMargin">
                  <div class="col-6" *ngFor="let subcategories of subcategories?.community?.categoryName">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="centerBox">
              <div class="centerBoxTop">
                <a href="#">personals</a>
              </div>
              <div class="container-fluid noPaddingMargin">
                <div class="row noPaddingMargin">
                  <div class="col-6" *ngFor="let subcategories of subcategories?.personals?.categoryName">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                  <div class="col-6">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="centerBox">
              <div class="centerBoxTop">
                <a href="#">housing</a>
              </div>
              <div class="container-fluid noPaddingMargin">
                <div class="row noPaddingMargin">
                  <div class="col-6" *ngFor="let subcategories of subcategories?.housing?.categoryName">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                  <div class="col-6">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-4">
            <div class="centerBox">
              <div class="centerBoxTop">
                <a href="#">for sale</a>
              </div>
              <div class="container-fluid noPaddingMargin">
                <div class="row noPaddingMargin">
                  <div class="col-6" *ngFor="let subcategories of subcategories?.forsale?.categoryName">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                  <div class="col-6">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>     
          <div class="col-4">
            <div class="centerBox">
              <div class="centerBoxTop">
                <a href="#">jobs</a>
              </div>
              <div class="container-fluid noPaddingMargin">
                <div class="row noPaddingMargin">
                  <div class="col-6" *ngFor="let subcategories of subcategories?.forsale?.categoryName">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                  <div class="col-6">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>  

          <div class="col-4">
            <div class="centerBox">
              <div class="centerBoxTop">
                <a href="#">services</a>
              </div>
              <div class="container-fluid noPaddingMargin">
                <div class="row noPaddingMargin">
                  <div class="col-6" *ngFor="let subcategories of subcategories?.services?.categoryName">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                  <div class="col-6">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="centerBox">
              <div class="centerBoxTop">
                <a href="#">gigs</a>
              </div>
              <div class="container-fluid noPaddingMargin">
                <div class="row noPaddingMargin">
                  <div class="col-6" *ngFor="let subcategories of subcategories?.gigs?.categoryName">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                  <div class="col-6">
                      <div class="boxItem"><a href="#">{{subcategories}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="rightMenu">
          <div class="languageDropdown">
              <select>
                  <option value="english">English</option>
              </select>                             
          </div>
          <div class="menuHighlightWhite">
            <a href="#">nearby cl</a>
          </div>
          <div class="menuItem">
            <a href="#">bellingham</a>
          </div>
          <div class="menuItem">
              <a href="#">bend</a>
          </div>
          <div class="menuItem">
              <a href="#">cariboo</a>
          </div>
          <div class="menuItem">
              <a href="#">comox valley</a>
          </div>
          <div class="menuItem">
              <a href="#">corvallis</a>
          </div>
          <div class="menuItem">
              <a href="#">east oregon</a>
          </div>
          <div class="menuItem">
              <a href="#">eugene</a>
          </div>
          <div class="menuItem">
              <a href="#">fraser valley</a>
          </div>
          <div class="menuItem">
              <a href="#">kalispell</a>
          </div>
      </div>
    </div>
  </div>
</div>