.spacing {
    margin-top:100px;
}

.bracketedTextSpacing {
    margin-top:20px;
    width:100%;
}
.bracketedTextSpacingSmall {
    margin-top:10px;
    width:100%;
}
.nonbracketText {
    font-weight:bold;
}
.bracketedText {
    margin-left:5px;
}

.underline{
    text-decoration:underline;
}

.option{
    cursor: pointer;
}
.optionMarginLeft {
    margin-left:30px;
}

.jobPriceHeader {
    font-weight:bold;
    color:green;
    font-size:20px;
}

.jobPostingLocation {
    font-size:20px;
}

.boldText {
    font-weight:bold;
}

.spacing2 {
    margin-top:75px;
}

.postformGreen {
    font-weight:400;
    color:green;
}

.postingformTitleBlack{
    font-weight:400;
    color:black;
}

.posttitlebox {
    width:100%;
}

#jobLocationTitle {
    width:80%;
}

#jobZipcodeTitle {
    width:80%;
}

input[type=text] {
    padding:1px;
    border: 1px solid #555;
}

input[type=text]:focus {
    border: 2px solid #3498db;
}

.bodyTextHeight {
    width:100%;
    height:250px;
}

.warningPostBody {
    font-size:15px;
}

.jobPostingDetails {
    margin-left:0;
    margin-right:0;
    border-style:solid;
    border-width:1px;
    border-color:grey;
    background-color:#eeeeee;
}
.jobpostdetailTitle {

}

.postingTypeText {
    cursor: pointer; 
    margin-left:10px;
    font-weight:bold;
}

.contactInfo {
    margin:0;
    padding:0;
    background-color:#eeeeee;
    border-color:grey;
    border-style: solid;
    border-width:1px;
}

.emailInput {
    margin-left:15px;
    height:20px;
    margin-bottom:5px;
    background-color:white;
}

.col4Padding {
    margin-left:5px;
}

.contactBy {
    margin-left:5px;
    font-weight:bold;
}

.pickMenu {
    margin-left:10px;
}

.contactInfosTitle {
    color:black;
    font-weight:bold;
}

.inputboxbackground {
    background-color:white;
}

.continueButton {
    font-size:20px;
} 

.warningText {
    font-size:20px;
    font-weight:bold;
    color:red;
}

.uploadbox {
    background-color:#eeeeee;
    padding-top:20px;
    padding-bottom:20px;
    border-color:grey;
    border-style:solid;
    border-width:1px;
}

.imageListingBoxFeatured {
    border-color:yellow;
    border-style:solid;
    border-width:1px;
    background-color:#eeeeee;
    padding:10px;
    width:300px;
    height:169px;
}

.imageListingBox {
    border-color:grey;
    border-style:solid;
    border-width:1px;
    background-color:#eeeeee;
    padding:10px;
    width:300px;
    height:169px;
}
.featuredImage {
    position: absolute;
    background-color:lightyellow;
    margin-left:-10px;
    margin-top:-10px;
}

.xclosedImage {
    position: absolute;
    margin-left:265px;
    margin-top:-5px;
    height:20px;
    width:20px;
    background-color:#ffb8b8;
    text-align:center;
    border-radius: 5px;
    cursor: pointer; 
}

.doneImage {

}

.finalWizardTitleBar {
    padding:0px;
    margin:0px;
    background-color:#eeeeee;
    font-weight:bold;
    font-size:17px;
}

.finalWizardTitleRow {
    padding:0px;
    margin:0px;
}


.finalWizardTitleRowTotal {
    font-weight:bold;
    padding:0px;
    margin:0px;
}

.totalCharge {
    padding-right:20px;
}
.finalWizardTitleItem {
    font-size:15px;
}

.attentionText {
    font-weight:bold;
    font-size:20px;
}


.bracketedTextSpacingLargeSpace {
    margin-top:100px;
    width:100%;
}

.blackunpublished {
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#000000;
    font-size:20px;
}

.previewNav {
    padding-top:5px;
    padding-bottom:5px;
    background-color:#eeeeee;
    font-size:20px;
}

.logo {
    background-color:white;
    border-radius: 20px;
    font-weight:bold;
}

.paditleft20 {
    padding-left:20px;
}

.replyBox {
    padding:1px;
    text-align:center;
    width:65px;
    border-color:yellowgreen;
    border-style:solid;
    border-width:2px;
    background-color:yellow;
    border-radius: 2px;
}

.emailIcon {
    width:20px;
    height:20px;
}

.bracketedTextSpacingMedium {
    margin-top:50px;
    width:100%;
}

#lestar {
    margin-top:5px;
    width:20px;
    height:20px;
}

.titlePreview {
    font-size:20px;
    font-weight:bold;
}

.imgIcon {
    height:50px;
    width:50px;
}

.imageContainer {
    height:338px;
    width:600px;
}

.imageActual {
    position: absolute;
    z-index: -1;
}

.infoBox {
    margin-bottom:10px;
    background-color:#fafafa;
    border-radius:5px;
    border-style:solid;
    border-color:#cdcdcd;
}