<app-standardnavbar></app-standardnavbar>

<!-- first wizard -->
<div class="container spacing">
    <div class="col-12">
        <div class="row">
            please limit each posting to a single area and category, once per 48 hours
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
            <div class="nonbracketText">what type of posting is this: </div>
            <div class="bracketedText">(see <a href="#" class="underline">prohibited</a> list before posting.)</div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="option">job offered</div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="option">gig offered</div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="option">resume / job wanted</div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="option">housing offered</div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="option">housing wanted</div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="option">housing wanted</div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="option">for sale by owner</div>
        </div>  
        <div class="row">
            <div class="col-1"></div>
            <div class="option">for sale by dealer</div>
        </div>    
        <div class="row">
            <div class="col-1"></div>
            <div class="option">wanted by owner</div>
        </div>  
        <div class="row">
            <div class="col-1"></div>
            <div class="option">wanted by dealer</div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>  
        <div class="row">
            <div class="col-1"></div>
            <div class="option">service offered</div>
        </div>   
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>  
        <div class="row">
            <div class="col-1"></div>
            <div class="option">personal / romance</div>
        </div>           
    </div>
</div>