<app-standardnavbar></app-standardnavbar>
<div *ngIf="this.mainType == -1">
    <!-- first wizard -->
    <div class="container spacing">
        <div class="col-12">
            <div class="row">
                please limit each posting to a single area and category, once per 48 hours
            </div>
            <div class="row">
                <div class="bracketedTextSpacing"></div>
                <div class="nonbracketText">what type of posting is this: </div>
                <div class="bracketedText">(see <a href="#" class="underline">prohibited</a> list before posting.)</div>
            </div>
            <div class="row">
                <div class="bracketedTextSpacing"></div>
            </div>
            <div class="menu" *ngFor="let categories of mainCategoriesName;let i = index">
                <div class="row">
                    <div class="col-1"></div>
                    <div id="mainCategory{{i}}" class="option" (click)="optionSelector($event)">{{categories}}</div>
                    <div *ngIf="i == 2 || i == 4 || i == 8 || i == 9  || i == 10">
                        <div class="bracketedTextSpacing">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- job offered selection -->
<div *ngIf="this.mainType == 0 && this.activateJobPost == 0">
    <div class="container spacing2">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="jobPriceHeader">Price: {{jobPriceTotal}} USD per category selected [<a href="#">?</a>]</div>
                </div>
                <div class="row">
                    <div class="bracketedTextSpacingSmall"></div>
                </div>
                <div class="row">
                    <div class="jobPostingLocation">You are posting to <b>{{currentCity}}, {{currentState}}.</b> (<a href="#">change location</a>)</div>
                </div>
                <div class="row">
                    <div class="bracketedTextSpacingSmall"></div>
                </div>
                <div class="row">
                        <div class="boldText">select one or more categories.</div> <div class="bracketedText">(see <a href="#"> prohibited </a>  list before posting.)</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>
        <div class="menu" *ngFor="let communityNameChoices of jobChoicesName;let i = index">
            <div class="row">
                <div class="option optionMarginLeft"><label><input id="jobChoice{{i}}" type="checkbox"  (change)="checkedJobChoice($event)"/> {{communityNameChoices}}</label></div>
            </div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>
        <div class="row">
            <div class="jobPriceHeader">Price: {{jobPriceTotal}} USD per category selected [<a href="#">?</a>]</div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacingSmall"></div>
        </div>
        <div class="row">
            <div class="jobPostingLocation">You are posting to <b>{{currentCity}}, {{currentState}}.</b> (<a href="#">change location</a>)</div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacingSmall"></div>
        </div>
        <div class="row">
            <button (click)="jobContinue($event)">continue</button>
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>
    </div>
</div>

<div *ngIf="this.mainType == 0 && this.activateJobPost == 1">
    <div class="container">
        <div *ngFor="let warning of warningString;let i = index">
            <div class="col-12">
                <div class="row warningText">
                    {{warning}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="spacing"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="postformGreen">posting title</div>
            </div>
            <div class="col-3">
                <div class="postingformTitleBlack">specific location</div>
            </div>
            <div class="col-3">
                <div class="postformGreen">postal code</div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input #jobTitle id="jobTitle" type="text" (keyup)="setJobPostingTitle(jobTitle.value)">
            </div>
            <div class="col-3">
                <input #jobLocationTitle id="jobLocationTitle" type="text" (keyup)="setJobLocationTitle(jobLocationTitle.value)">
            </div>
            <div class="col-3">
                <input #jobZipcodeTitle id="jobZipcodeTitle" type="text" (keyup)="setJobZipcodeTitle(jobZipcodeTitle.value)">
            </div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="postformGreen">posting body</div>
            </div>
            <div class="col-6">
                <div class="warningPostBody pull-right">only one job description per posting please. <br>Please see our FAQ for job posters. <a href="#">[?]</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <textarea  class="bodyTextHeight" #jobBodyDescription id="jobBodyDescription" type="text" (keyup)="setJobBodyDescription(jobBodyDescription.value)"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="jobpostdetailTitle">posting details</div>
            </div>
        </div>
        <div class="row jobPostingDetails">
            <div class="col-12">
                <div class="row"><div class="bracketedTextSpacing"></div></div>
                <div class="row">
                    <div class="col-12">
                        <div class="postformGreen">employment type</div>
                        <select>
                            <option value="fulltime">full-time</option>
                            <option value="parttime">part-time</option>
                            <option value="contract">contract</option>
                            <option value="employeechoice">employee's choice</option>
                        </select>     
                    </div>
                </div>
                <div class="row"><div class="bracketedTextSpacingSmall"></div></div>
                <div class="row">
                    <div class="postingTypeText"><label>direct contact by recruiters is okay<br><input type="checkbox"  (change)="checkedDirectContact()"/></label></div>
                    <div class="postingTypeText"><label>internship<br><input type="checkbox"  (change)="checkedInternship()"/></label></div>
                    <div class="postingTypeText"><label>non-profit organization<br><input type="checkbox"  (change)="checkedNonProfit()"/></label></div>
                    <div class="postingTypeText"><label>telecommuting okay?<br><input type="checkbox"  (change)="checkTelecommuting()"/></label></div>
                </div>
            </div>
        </div>
        <div class="row"><div class="bracketedTextSpacing"></div></div>
        <div class="row">
            <div class="col-12">
                <div class="postformGreen">compensation &nbsp;&nbsp;&nbsp;&nbsp; please be as detailed as possible</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input #jobCompensation id="jobCompensation" type="text" (keyup)="setJobCompensation(jobCompensation.value)">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="postingformTitleBlack">company name: </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input #jobCompanyName id="jobCompanyName" type="text" (keyup)="setJobCompanyName(jobCompanyName.value)">
            </div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="jobpostdetailTitle">contact info</div>
            </div>
        </div>
        <div class="row contactInfo">
            <div class="col-5">
                <div class="row">
                    <div class="bracketedTextSpacingSmall"></div>
                </div>
                <div class="row col4Padding">
                    <div class="postformGreen">email</div>
                </div>
                <div class="row">
                    <input #email1 id="email1" class="emailInput" type="text" (keyup)="setEmail1(email1.value)">
                </div>
                <div class="row">
                    <input #email2 id="email2" class="emailInput" type="text" (keyup)="setEmail2(email2.value)"> 
                </div>
                <div class="row">
                    <div class="bracketedTextSpacing"></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="contactBy">users can also contact me by:</div>
                    </div>
                </div>
                <div class="row">
                    <div class="bracketedTextSpacingSmall"></div>
                </div>
                <div class="row">
                    <div class="option optionMarginLeft"><label><input id="byphone" type="checkbox"  (change)="checkedByPhone()"/> by phone</label></div>
                    <div class="option optionMarginLeft"><label><input id="bytext" type="checkbox"  (change)="checkedByText()"/> by text</label></div>
                </div>
            </div>
            <div class="col-6 col4Padding">
                    <div class="row">
                        <div class="bracketedTextSpacing"></div>
                    </div>
                <div class="row">
                    <div class="pickMenu">
                        <form>
                            <label><input id="emailChoice1" type="radio" name="emailChoice" value="NCL mail relay (recommended)" checked (change)="emailChoice($event)"> CL mail relay (recommended)</label><br>
                            <label><input id="emailChoice2" type="radio" name="emailChoice" value="show my real email address" (change)="emailChoice($event)"> show my real email address</label><br>
                            <label><input id="emailChoice3" type="radio" name="emailChoice" value="no replies to this email" (change)="emailChoice($event)"> no replies to this email</label>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="bracketedTextSpacing"></div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="contactInfosTitle">phone number </div>
                        </div>
                        <div class="row">
                            <input class="inputboxbackground" #postPhoneNumber id="postPhoneNumber" type="text" (keyup)="setPostPhoneNumber(postPhoneNumber.value)">
                        </div>
                    </div>
                    <div class="col-3 pickMenu">
                        <div class="row">
                            <div class="contactInfosTitle">extension </div>
                        </div>
                        <div class="row">
                            <input class="inputboxbackground" #postExtension id="postExtension" type="text" (keyup)="setPostExtension(postExtension.value)">
                        </div>
                    </div>
                    <div class="col-4 pickMenu">
                        <div class="row">
                            <div class="contactInfosTitle">contact name </div>
                        </div>
                        <div class="row">
                            <input class="inputboxbackground" #postContactName id="postContactName" type="text" (keyup)="setPostContactName(postContactName.value)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="bracketedTextSpacing"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bracketedTextSpacing"></div>
        </div>
        <div class="row">
            <div class="option optionMarginLeft"><label><input id="bytext" type="checkbox"  (change)="checkedByText($event)"/> ok to highlight this job opening for persons with disabilities <a href="#">[?]</a></label></div>
        </div>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <button class="continueButton pull-right" (click)="tryContinueJob($event)">Continue</button>
            </div>
        </div>
    </div>
</div>

<!-- MAP FRAGMENT -->
<div *ngIf="this.mainType == 0 && this.activateJobPost == 2">
    hello
    <div (onload)="switchToImage()"></div>
</div>


<!-- Upload Image Fragment -->
<div *ngIf="this.mainType == 0 && this.activateJobPost == 3">
        Select image to upload:
        <input type="file" (change)="uploadAnImage($event)">
</div>



