.spacing {
    margin-top:100px;
}

.bracketedTextSpacing {
    margin-top:20px;
    width:100%;
}
.nonbracketText {
    font-weight:bold;
}
.bracketedText {
    margin-left:5px;
}

.underline{
    text-decoration:underline;
}

.option{
    
}
