<div class="container-fluid navBar">
  <div class="row">
    <div class="col-6">
      <div class="leftstuff"><a href="#">Craigslist</a> > <a href="#/dashboard">home of {{username}}</a></div>
    </div>
    <div class="col-6">
      <div class="pull-right">
        <a href="#/logout">[ log out ]</a>
        <a href="#">[ help pages ]</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid navBarBorder">
  <div class="row">
      <div class="col-10">
        <div class="menu">
            <div class="menuitem pull-left"><a href="#">postings</a></div>
            <div class="menuitem pull-left"><a href="#">drafts</a></div>
            <div class="menuitem pull-left"><a href="#">searches</a></div>
            <div class="menuitem pull-left"><a href="#">settings</a></div>
            <div class="menuitem pull-left"><a href="#">billing</a></div>
        </div>
      </div>
  </div>
</div>