<div class="container-fluid spacingTop">
    <div class="row">
      <div class="col-12">
        <div class="menu">
            <div class="menuItem menuTitle pull-left">
              find your postings
            </div>
            <div class="menuItem pull-left">| </div>
            <div class="menuItem pull-left">
              <a href="#">most recent</a>
            </div>
            <div class="menuItem pull-left">| </div>
            <div class="menuItem pull-left">
              <a href="#">active </a>
            </div>
            <div class="menuItem pull-left">| </div>
            <div class="menuItem pull-left">
              <a href="#">inactive </a>
            </div>
            <div class="menuItem pull-left">| </div>
            <div class="menuItem pull-left">
              <a href="#">all postings </a>
            </div>
          </div>
      </div>
    </div>
    <div class="row antispacingTop">
      <div class="col-1 ZeroFragBorder"></div>
      <div class="col-2 firstFragBorder">
      </div>
      <div class="col-9 secondFragBorder">
      </div>
    </div>
  </div>
