.navbar{
    height:40px;
    background-color:#eeeeee;
}

.logo {
    background-color:white;
    border-radius: 20px;
    font-weight:bold;
}

.logoLeftItem {
    margin-left:10px;
}

.logoutlink {
    margin-left:5px;
}

.username {
}

